@{
    ViewBag.Title = "GET api/countries";
}
<h2>GET api/countries</h2>
<p>Returns the list of all countries from the database.</p>
<h3>Resource URL</h3>
<code>http://MYURL/api/countries</code>
<h3>Resource Information</h3>
<ul class="list-block node">
    <li class="node__item">
        <div class="grid">
            <div class="grid__item one-third">
                Response formats
            </div><!-- .grid__item --><!--
            --><div class="grid__item two-thirds">
                JSON
            </div><!-- .grid__item -->
        </div><!-- .grid -->
    </li><!-- .node__item -->
    <li class="node__item">
        <div class="grid">
            <div class="grid__item one-third">
                Requires authentication?
            </div><!-- .grid__item --><!--
            --><div class="grid__item two-thirds">
                NO
            </div><!-- .grid__item -->
        </div><!-- .grid -->
    </li><!-- .node__item -->
</ul>
<h3>Example Request</h3>
<code>GET http://MYURL/api/countries</code>
<h3>Example Result</h3>
<pre><code class="language-javascript">[
   {
       "CountryID": 1,
       "Name": "United Kingdom",
       "Capital": "London"
   },
   {
       "CountryID": 2,
       "Name": "Germany",
       "Capital": "Berlin"
   },
   {
       "CountryID": 3,
       "Name": "France",
       "Capital": "Paris"
   },
   {
       "CountryID": 4,
       "Name": "Spain",
       "Capital": "Madrid"
   },
   {
       "CountryID": 5,
       "Name": "Russia",
       "Capital": "Moscow"
   },
   {
       "CountryID": 6,
       "Name": "China",
       "Capital": "Beijing"
   },
   {
       "CountryID": 7,
       "Name": "India",
       "Capital": "New Delhi"
   },
   {
       "CountryID": 8,
       "Name": "Japan",
       "Capital": "Tokyo"
   },
   {
       "CountryID": 9,
       "Name": "South Africa",
       "Capital": "Cape Town"
   },
   {
       "CountryID": 10,
       "Name": "Morocco",
       "Capital": "Rabat"
   },
   {
       "CountryID": 11,
       "Name": "Egypt",
       "Capital": "Cairo"
   },
   {
       "CountryID": 12,
       "Name": "Tanzania",
       "Capital": "Dodoma"
   },
   {
       "CountryID": 13,
       "Name": "United States of America",
       "Capital": "Washington"
   },
   {
       "CountryID": 14,
       "Name": "Canada",
       "Capital": "Ottawa"
   },
   {
       "CountryID": 15,
       "Name": "Costa Rica",
       "Capital": "San Jose"
   },
   {
       "CountryID": 16,
       "Name": "Panama",
       "Capital": "Panama City"
   },
   {
       "CountryID": 17,
       "Name": "Argentina",
       "Capital": "Buenos Aires"
   },
   {
       "CountryID": 18,
       "Name": "Brazil",
       "Capital": "Brasilia"
   },
   {
       "CountryID": 19,
       "Name": "Chile",
       "Capital": "Santiago"
   },
   {
       "CountryID": 20,
       "Name": "Ecuador",
       "Capital": "Quito"
   },
   {
       "CountryID": 21,
       "Name": "Australia",
       "Capital": "Canberra"
   }
]</code></pre>
