
@{
    ViewBag.Title = "Home";
}
<h1>Manhattan REST API</h1>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
<h2>GET api/continents</h2>
Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
<h3>Parameters</h3>
<ul class="list-block node">
    <li class="node__item">
        <div class="grid">
            <div class="grid__item one-third">
                id <span class="text--italic">[Required]</span>
            </div><!-- .grid__item --><!--
         --><div class="grid__item two-thirds">
                The numerical ID of the desired Continent.
                Example values: 123
            </div><!-- .grid__item -->
        </div><!-- .grid -->
    </li><!-- .node__item -->
    <li class="node__item">
        <div class="grid">
            <div class="grid__item one-third">
                id <span class="text--italic">[Required]</span>
            </div><!-- .grid__item --><!--
         --><div class="grid__item two-thirds">
                The numerical ID of the desired Continent.
                Example values: 123
            </div><!-- .grid__item -->
        </div><!-- .grid -->
    </li><!-- .node__item -->
    <li class="node__item">
        <div class="grid">
            <div class="grid__item one-third">
                id <span class="text--italic">[Required]</span>
            </div><!-- .grid__item --><!--
         --><div class="grid__item two-thirds">
                The numerical ID of the desired Continent.
                Example values: 123
            </div><!-- .grid__item -->
        </div><!-- .grid -->
    </li><!-- .node__item -->
    <li class="node__item">
        <div class="grid">
            <div class="grid__item one-third">
                id <span class="text--italic">[Required]</span>
            </div><!-- .grid__item --><!--
         --><div class="grid__item two-thirds">
                The numerical ID of the desired Continent.
                Example values: 123
            </div><!-- .grid__item -->
        </div><!-- .grid -->
    </li><!-- .node__item -->
</ul><!-- .node -->
<h3>Example Request</h3>
<code>
    GET
    http://myurl/api/continents
</code>
<h3>Example Result</h3>
<pre><code class="language-javascript">[
  {
    "coordinates": null,
    "truncated": false,
    "created_at": "Tue Aug 28 21:16:23 +0000 2012",
    "favorited": false,
    "id_str": "240558470661799936",
    "in_reply_to_user_id_str": null
  }
}</code></pre>