@{
    ViewBag.Title = "GET api/restcountries/:string";
}
<h2>GET api/restcountries/:string</h2>
<p>Call to third party REST API, returns data for specified country.</p>
<h3>Resource URL</h3>
<code>http://MYURL/api/restcountries/:string</code>
<h3>Resource Information</h3>
<ul class="list-block node">
    <li class="node__item">
        <div class="grid">
            <div class="grid__item one-third">
                Response formats
            </div><!-- .grid__item --><!--
            --><div class="grid__item two-thirds">
                JSON
            </div><!-- .grid__item -->
        </div><!-- .grid -->
    </li><!-- .node__item -->
    <li class="node__item">
        <div class="grid">
            <div class="grid__item one-third">
                Requires authentication?
            </div><!-- .grid__item --><!--
            --><div class="grid__item two-thirds">
                NO
            </div><!-- .grid__item -->
        </div><!-- .grid -->
    </li><!-- .node__item -->
</ul>
<h3>Parameters</h3>
<ul class="list-block node">
    <li class="node__item">
        <div class="grid">
            <div class="grid__item one-third">
                string <span class="text--italic">[Required]</span>
            </div><!-- .grid__item --><!--
            --><div class="grid__item two-thirds">
                The text of the country name.
                Example values: united kingdom
            </div><!-- .grid__item -->
        </div><!-- .grid -->
    </li><!-- .node__item -->
</ul>
<h3>Example Request</h3>
<code>GET http://MYURL/api/restcountries/united kingdom</code>
<h3>Example Result</h3>
<pre><code class="language-javascript">{
    "Result":
    [
        {
            "name": "United Kingdom",
            "capital": "London",
            "altSpellings":
            [
                "GB",
                "UK",
                "Great Britain"
            ],
            "relevance": "2.5",
            "region": "Europe",
            "subregion": "Northern Europe",
            "translations":
            {
                "de": "Vereinigtes Königreich",
                "es": "Reino Unido",
                "fr": "Royaume-Uni",
                "ja": "イギリス",
                "it": "Regno Unito"
            },
            "population": 64105654,
            "latlng":
            [
                54,
                -2
            ],
            "demonym": "British",
            "area": 242900,
            "gini": 34,
            "timezones":
            [
                "UTC−08:00",
                "UTC−05:00",
                "UTC−04:00",
                "UTC−03:00",
                "UTC−02:00",
                "UTC",
                "UTC+01:00",
                "UTC+02:00",
                "UTC+06:00"
            ],
            "borders":
            [
                "IRL"
            ],
            "nativeName": "United Kingdom",
            "callingCodes":
            [
                "44"
            ],
            "topLevelDomain":
            [
                ".uk"
            ],
            "alpha2Code": "GB",
            "alpha3Code": "GBR",
            "currencies":
            [
                "GBP"
            ],
            "languages":
            [
                "en"
            ]
        }
    ],
    "Id": 25,
    "Exception": null,
    "Status": 5,
    "IsCanceled": false,
    "IsCompleted": true,
    "CreationOptions": 0,
    "AsyncState": null,
    "IsFaulted": false
}</code></pre>
